@import 'tailwindcss';

@layer base {
    :root {

        /* Reused colors and other variable */

        --red: hsl(351, 82%, 46%);
        --light-red: hsl(351, 82%, 56%);
        --dark-red: hsl(351, 82%, 21%);
        --black: hsl(0, 0%, 5%);
        --dark-grey: hsl(0, 0%, 35%);
        --grey: hsl(0, 0%, 55%);
        --white: hsl(0, 0%, 88%);

        --light-blue: hsl(190, 100%, 75%);
        --blue: hsl(190, 100%, 50%);
        --blue-gradient: hsl(190, 100%, 40%);
        --dark-blue: hsl(190, 100%, 35%);
        --red-light: hsl(0, 100%, 45%);
        --red-light-gradient: hsl(0, 100%, 40%);
        --yellow-light: hsl(60, 100%, 45%);
        --yellow-light-gradient: hsl(60, 100%, 40%);
        --green-light: hsl(120, 100%, 45%);
        --green-light-gradient: hsl(120, 100%, 40%);

        --screen-green: hsl(150, 80%, 40%);
        --screen-black: hsl(255, 7%, 11%);

        --border-width: 2.5px;
        --border-style: solid;
        --border-color: var(--dark-red);

    }

    * {
        font-family: "Press Start 2P", Arial, sans-serif;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }
}

/* Animations for various screen and light effects */

@keyframes screen-flicker {
    0%   { opacity: 0.20; }
    50%  { opacity: 0.30; }
    100% { opacity: 0.20; }
}

@keyframes blue-light-flicker {
    0%   { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    22%  { opacity: 1; box-shadow: 0 0 80px 20px var(--blue-gradient); }
    40%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    52%  { opacity: 1; box-shadow: 0 0 80px 20px var(--blue-gradient); }
    60%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    75%  { opacity: 1; box-shadow: 0 0 80px 20px var(--blue-gradient); }
    100% { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
}

@keyframes red-light-flicker {
    0%   { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    22%  { opacity: 1; box-shadow: 0 0 80px 20px var(--red-light-gradient); }
    40%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    52%  { opacity: 1; box-shadow: 0 0 80px 20px var(--red-light-gradient); }
    60%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    75%  { opacity: 1; box-shadow: 0 0 80px 20px var(--red-light-gradient); }
    100% { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
}

@keyframes yellow-light-flicker {
    0%   { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    22%  { opacity: 1; box-shadow: 0 0 80px 20px var(--yellow-light-gradient); }
    40%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    52%  { opacity: 1; box-shadow: 0 0 80px 20px var(--yellow-light-gradient); }
    60%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    75%  { opacity: 1; box-shadow: 0 0 80px 20px var(--yellow-light-gradient); }
    100% { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
}

@keyframes right-yellow-light-flicker {
    0%   { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    22%  { opacity: 1; box-shadow: 0 0 80px 20px var(--yellow-light-gradient); }
    40%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    52%  { opacity: 1; box-shadow: 0 0 80px 20px var(--yellow-light-gradient); }
    60%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    75%  { opacity: 1; box-shadow: 0 0 80px 20px var(--yellow-light-gradient); }
    100% { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
}

@keyframes green-light-flicker {
    0%   { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    22%  { opacity: 1; box-shadow: 0 0 80px 20px var(--green-light-gradient); }
    40%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    52%  { opacity: 1; box-shadow: 0 0 80px 20px var(--green-light-gradient); }
    60%  { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
    75%  { opacity: 1; box-shadow: 0 0 80px 20px var(--green-light-gradient); }
    100% { opacity: 0; box-shadow: 0 0 80px 20px transparent; }
}

.flicker-blue-light::before {
    animation: blue-light-flicker 1s steps(1) infinite alternate;
}

.flicker-red-light::before {
    animation: red-light-flicker 1s steps(1) infinite alternate;
}

.flicker-yellow-light::before {
    animation: yellow-light-flicker 1s steps(1) infinite alternate;
}

.flicker-right-yellow-light::before {
    animation: right-yellow-light-flicker 1s steps(1) infinite alternate;
}

.flicker-green-light::before {
    animation: green-light-flicker 1s steps(1) infinite alternate;
}
